@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,600&display=swap');


.maincontainer{
    position: relative;
    padding: 6%;
    padding-top: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    justify-content: space-around;
  }
  
  .container1{
    position: relative;
    width: 100%;
    height: 108px;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
  
  
    background: rgba(255,255,255,0.13);
    border-radius: 17px;
    z-index: 3;
  }
   .confirmed {
    
    padding: 10px 0 0 0;
    font-family: Stardos Stencil;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  
    /* identical to box height, or 67% */
  
    color: #fff;
  }
  
  .noOfConfirmed {
  
    padding: 15px 0 0 0;
  font-family: Stardos Stencil;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
 
  /* identical to box height, or 0% */
  
  color: #F82013;
  
  }
  
  .increaseInConfirmed {
    padding: 15px 0 0 0;
    width: 50%;
    margin: auto;
  
  font-family: Stardos Stencil;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
 
  /* or 86% */
  
  
  color: #F82013;
  
  }
  
  .container2{
    position: relative;
    width: 100%;
    height: 108px;
    margin-top: 30px;
    padding-bottom: 20px;
  
    background: rgba(255,255,255,0.13);
    border-radius: 17px;
    z-index: 3;
  }
  
  .recovered{
   padding: 10px 0 0 0;
    font-family: Stardos Stencil;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
   
    /* identical to box height, or 67% */
  
    text-align: center;
  
    color: #fff;
  }
  
  .noOfRecovered {
    padding: 15px 0 0 0;
  font-family: Stardos Stencil;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
 
  /* identical to box height, or 0% */
  
  color: #72FC45;
  
  }
  
  .increaseRecovered{
    padding: 15px 0 0 0;
  font-family: Stardos Stencil;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  width: 50%;
  margin: auto;

 
  /* or 86% */
  
  
  color: #72FC45;
  
  }
  
  .container3{
    position: relative;
    width: 100%;
    height: 108px;
    margin-top: 30px;
    padding-bottom: 20px;
  
    background: rgba(255,255,255,0.13);
    border-radius: 17px;
    z-index: 3;
  }
  
  .deaths{
     padding: 10px 0 0 0;
    font-family: Stardos Stencil;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    /* identical to box height, or 67% */
  
    text-align: center;
  
    color: #fff;
  }
  
  .noOfDeaths{
    padding: 15px 0 0 0;
  font-family: Stardos Stencil;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  /* identical to box height, or 0% */
    
  color: #fff;
  
  }
  
  .increaseDeaths{
    padding: 15px 0 0 0;
  font-family: Stardos Stencil;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  width: 50%;
  margin: auto;

  /* or 86% */
  
  
  color:#fff;
  
  }

  .lastUpdateTime{
    margin-top: 5%;
    font-family: 'Muli',sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
/* or 86% */

text-align: left;


color: #9E9898;
  }
  