.container{
    width: 100%;
    padding: 7% 15%;
    text-align: left;
    background-color: #111E6C;
    color: aliceblue;
}

.fontawesome {
 display: flex;
 justify-content: space-between;
 width: 50%;
 margin: 3% auto;
 margin-left: 0;
}